language: go
sudo: false

go:
  - 1.12.x

env:
  - GO111MODULE=on

before_install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
  - go get github.com/golangci/golangci-lint/cmd/golangci-lint

script:
  - go get -v .
  - go test -coverprofile profile.cov
  - ${GOPATH}/bin/golangci-lint run .

  - ( cd _examples && go get -v . )
  - ( cd _examples && go test )

  - ${GOPATH}/bin/goveralls -coverprofile profile.cov -service=travis-ci
